<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="utf-8" />
    <style type="text/css">
		.p{
			font-family: 'Josefin Sans', sans-serif;
			color: #fff;
			font-size: 20px;
		}
		.f{
		position:fixed;
		}
.abc{
	text-align: center;
	color: #e26228;
	font-size: 30px;
	font-family: font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

		.img_deg{
			float: right;
		}

		.icon_box {
			padding: 10px;
			height: 100px;
  			width: 100px;
 			background-color: #ed7014;
  			border-radius: 50%;
  			display: inline-block;
		}

        .main{
            font-size:40px;
            color:#fff;
            text-align:center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

		.pere{
			padding-left: 50px;
			padding-right: 50px;
			font-family: 'Times New Roman', Times, serif;
			color: #4a4949;
			font-size: 20px;
		}

		.foot{
		    color:#666666;
		    text-align:center;
		    font-family:Open Sans;
		    font-size:20px;
		}

.header {
    height:107px;
  background: #555;
  color: #f1f1f1;
}


 @media(max-width: 1024px)
  {
    .aicteLogo{
      display: none;

    }
  }
/*   @media(max-width: 1024px)
  {
    .head1{
      margin-right: -0px;

    }*/
</style>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
<body>
  <div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Only Chat Support</h4>
                    <p class="chatbox__description--header">Hii guys..! My name is Leo. How can I help you?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Write a message...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  <div class="header" id="myHeader">
    <p class="main">Government Polytechnic For Girls, Ahmedabad</p>
	<br><br>
	<p class="p">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Home&emsp;&emsp; About&emsp;&emsp; Academic&emsp;&emsp; People&emsp;&emsp; Gallery&emsp;&emsp; Downloads&emsp;&emsp; Contact Us</p>

      <hr color="#ed7014" size="5"><br><br></div>
		<br><br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span><br><br>
		<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;APPLIED MECHANICS &emsp;&emsp;&emsp;&emsp;ARCHITECTURE&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; BIOMEDICAL ENGG. &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;CIVIL ENGG. &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;CDDM ENGG.</p>
		<br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
		<span class="icon_box" style="font-size:64px"><i class="fa fa-graduation-cap"></i>	</span><br><br>
		<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;COMPUTER ENGG. &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;EC ENGG.&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;GENERAL &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;IT ENGG. &emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;I & COMMUNICATION T</p>
		<br><br>
		<p class="abc">About College<br></p><br>
<p class="pere">&emsp;&emsp;&emsp;&emsp;&emsp;Government Polytechnic for Girls - Ahmedabad (GPGA), a premier diploma engineering institute was established in the year 1964 with the aim to provide technical education to girls in the heritage city of Ahmedabad. It is located right opposite to PRL and adjacent to ATIRA, in the throbbing educational hub within the heart of the city and in the vicinity of reputed institutes like L.D.College of Engg., Gujarat University, L.M.College of Pharmacy and the world renowned CEPT University. It is endowed with a beautiful green campus which has its own flora and fauna.
<br><br>&emsp;&emsp;&emsp;&emsp;&emsp;
At present, GPGA offers 3 year diplomas in 7 programmes under Commissionerate of Technical Education and is affiliated with Gujarat Technological University (GTU). These are Diplomas in Architecture Assistantship (DAA), Biomedical Engineering (DBE), Computer Aided Costume Design and Dress Making (DCACDDM), Civil Engineering (DCE), Computer Engineering (DCoE), Electronics and Communication Engineering (DEC) and Information Technology (DIT).</p>
<br><br><p class="abc">Our Vision</p><br>
  <p class="pere">&emsp;&emsp;&emsp;&emsp;&emsp;To carve a brighter prospect for the nation through excellence in technical education for fostering skills, ethical values and environmental consciousness among girl students while undertaking existing and forthcoming challenges.</p>
<br><br><p class="abc">Our Mission</p><br>
  <center><p class="pere">&emsp;&emsp;&emsp;&emsp;&emsp;1.&emsp;To nurture technical and creative skills through quality education.<br>
&emsp;&emsp;&emsp;&emsp;&emsp;2.&emsp;To strengthen industries interaction.<br>
&emsp;&emsp;&emsp;&emsp;&emsp;3.&emsp;To impart real life problem solving skills.<br>
      &emsp;&emsp;&emsp;&emsp;&emsp;4.&emsp;To promote care for sustainability of environment and importance of social responsibility among girl students</p></center>
<br><br><p class="abc">Principal's Message</p><br>
<p class="pere">&emsp;&emsp;&emsp;&emsp;&emsp;GPGA has a tradition of imparting quality technical knowledge and ethical values to the students. No wonder GPGA is ranked among top 10 government diploma engineering colleges in Gujarat consistently over the last five years.
<br><br>
&emsp;&emsp;&emsp;&emsp;&emsp;For years, the institute's major focus and concern have been our students and our institution strives to impart the best knowledge in respective fields for promoting and pursuing multidisciplinary diploma engineering in the most disciplined manner.  Every student of the institute has been among some of the best talents of the vibrant state of Gujarat.  Many of GPGA's alumni have established themselves as entrepreneurs while some have continued higher studies with well-known engineering institutes of India as well as abroad. Thus they have carved a niche for themselves in various technical fields throughout the state, our nation and even abroad.
<br><br>
&emsp;&emsp;&emsp;&emsp;&emsp;The institute has an excellent track record of placements in past few years and students of GPGA have proved their mettle in industry, academics, and administration over the last many years. This glory has been due to the synergetic efforts of management, learned faculty, dedicated staff and sincere students over these years.I urge everyone, including staff and students, to make excellent careers by availing the unique opportunity that GPGA provides through classroom teaching, laboratory instructions, industrial trainings and participation in sports, cultural and other extra-curricular activities of interest.  Recently, formation of GPGA Alumnae Association has also been undertaken.
<br><br>
 &emsp;&emsp;&emsp;&emsp;&emsp;Five programmes of GPGA i.e. CACDDM, DCE, DCoE, DIT and DBE are NBA accredited.For the faculties and administrators, accreditation promotes ongoing self-evaluation and continuous improvement and provides an effective system for accontability.  For the institute or programme, accreditation enhances its national reputation and represents peer recognition.  Thus to further the institute aim towards excellence, accreditation process has been undertaken.
<br><br>
&emsp;&emsp;&emsp;&emsp;&emsp;I express my sincere gratitude to all our stakeholders for their continued support, cooperation and active involvement to make GPGA a citadel of Technical Learning, which sets its own benchmark.
<br><br>
&emsp;&emsp;&emsp;&emsp;&emsp;-Prof. Bhaskar J Iyer
<br><br><p class="abc">NBA Accreditation</p><br>
  <p class="pere">&emsp;&emsp;&emsp;&emsp;&emsp;Five Program of Government Polytechnic For Girls, Ahmedabad are NBA accredited
      <br><br>
&emsp;&emsp;&emsp;&emsp;&emsp;Computer Engineering, Civil Engineering , Computer Aided Costume Design and Dress Making, Information Technology and Biomedical Engineering
</p><br><br>
<hr color="#ed7014" size="5"><br><br></div>
      <p class="foot"><b>SITE LINK </b><hr size="2"></p>
      <p class="foot">Home<hr size="2"></p>
      <p class="foot">About<hr size="2"></p>
      <p class="foot">Gallery<hr size="2"></p>
      <p class="foot">Contact Us</p>
</body>
</html>